<!DOCTYPE html>
<html lang="en">
  <head>
    <title> <%=full_title(yield(:title)) %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
    <%= render 'layouts/shim' %>
  </head>
  <body>
    <div class="wrapper">
      <%= render 'layouts/header' %>
      <div class="container">
        <div class="main-container">
          <% flash.each do |key, value| %>
            <div class="alert alert-<%= key %>"><%= value %></div>
          <% end %>
          <%= yield %>
        </div>
      </div>
      <div class="push">
    </div>
    <%= render 'layouts/footer' %>
  </body>
</html>
